data/*
static/*
backup.json
media/*
notebooks/*
.pytest_cache/

.flake8
.isort.cfg
db.sqlite3
docker-compose.yml
Dockerfile
pytest.ini

websiteBackend/static/vendors/
websiteBackend/static/js/*.min.js
websiteBackend/static/css/*.min.css
websiteBackend/static/sass/bootstrap

websiteBackend/static/js/project.min.js
websiteBackend/static/js/vendors*.js
node_modules