{% load static i18n log%}
{%  include 'base.html' %}

{%  block content %}
{#    <h1>Work in progress</h1>#}
{#    <br>#}
{#    <h3>Go to <a href="/admin">admin</a></h3>#}
  <main class="px-3">
    <h1>Work in Progress.</h1>
    <p class="lead">This will be a backend API for a Vuex App at <a href="//www.james-troy.com">James-Troy.com</a></p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Admin Only</a>
    </p>
  </main>
{% endblock content %}
